<div class="snap-section contact dark:text-catalina-blue-200 text-catalina-blue-950 bg-gradient-to-b from-catalina-blue-500 to-catalina-blue-200 min-h-screen dark:from-catalina-blue-950 dark:to-catalina-blue-700 p-6">
	<h2 class="text-2xl text-catalina-blue-950 dark:text-catalina-blue-100">Contact</h2>
	<a href="mailto:anis@example.com" class="flex items-center space-x-2 text-blue-600 hover:text-blue-800">
	  <fa-icon [icon]="faEnvelope"></fa-icon>
	  <span>anis&#64;example.com</span>
	</a>
	<a href="tel:+33123456789" class="flex items-center space-x-2 text-blue-600 hover:text-blue-800">
	  <fa-icon [icon]="faPhone"></fa-icon>
	  <span>+33 1 23 45 67 89</span>
	</a>
  </div>