<div class="snap-section skills bg-gradient-to-b from-catalina-blue-500 to-catalina-blue-200 min-h-screen dark:from-catalina-blue-950 dark:to-catalina-blue-700 p-6">
	<h2 class="text-2xl text-catalina-blue-950 dark:text-catalina-blue-100">Compétences</h2>
	<div class="list-disc list-inside space-y-2">
	  <p class="text-lg text-catalina-blue-950 dark:text-catalina-blue-200">
		<fa-icon [icon]="faDisplay"></fa-icon> Angular, React, HTML, CSS, JavaScript
	  </p>
	  <p class="text-lg text-catalina-blue-950 dark:text-catalina-blue-200">
		<fa-icon [icon]="faServer"></fa-icon> Node.js, Express
	  </p>
	  <p class="text-lg text-catalina-blue-950 dark:text-catalina-blue-200">
		<fa-icon [icon]="faDatabase"></fa-icon> MySQL, MongoDB
	  </p>
	  <p class="text-lg text-catalina-blue-950 dark:text-catalina-blue-200">
		<fa-icon [icon]="faInfinity"></fa-icon> Jenkins, GCP, Docker, Kubernetes
	  </p>
	</div>
  </div>