<div class="scroll-container">
  	<div [ngClass]="darkMode ? 'dark' : ''">
      <div class="flex justify-end p-4 fixed top-0 right-0 w-full z-50">
        <button class="focus:outline-none dark:bg-catalina-blue-200 dark:hover:bg-catalina-blue-100 hover:bg-catalina-blue-950 bg-catalina-blue-900 rounded-full p-2 shadow-md hover:shadow-lg transition-shadow duration-300" (click)="switchTheme()" [title]="darkMode ? 'Mode claire' : 'Mode sombre'">
          <fa-icon *ngIf="darkMode" [icon]="faSun" class="w-6 h-6 hidden dark:block text-yellow-500"></fa-icon>
          <fa-icon *ngIf="!darkMode" [icon]="faMoon" class="w-6 h-6 block dark:hidden text-gray-300"></fa-icon>
        </button>
      </div>
	  <app-description></app-description>
      <app-skills></app-skills>
      <app-experience></app-experience>
      <app-projects></app-projects>
      <app-education></app-education>
      <app-contact></app-contact>
  	</div>
</div>