<div class="snap-section flex flex-col lg:flex-row justify-center items-center w-full bg-gradient-to-b from-catalina-blue-200 to-catalina-blue-500 min-h-screen dark:from-catalina-blue-700 dark:to-catalina-blue-950 p-6">
    <img src="assets/img/webp/photo.webp" alt="photo" class="rounded-full mx-auto lg:mr-12 my-4 border border-catalina-blue-300 dark:border-catalina-blue-700 w-64 h-64 lg:w-80 lg:h-80">
    <div class="lg:w-1/2 lg:text-left lg:pl-12">
        <h1 class="text-5xl lg:text-6xl font-bold text-catalina-blue-950 dark:text-catalina-blue-50 mb-4">Anis Bahmani</h1>
        <p class="text-xl lg:text-2xl text-catalina-blue-950 dark:text-catalina-blue-200 mb-6">Développeur Web Freelance à Paris</p>
        <p class="text-sm lg:text-xl text-catalina-blue-950 dark:text-catalina-blue-200">Salut ! Je suis Anis, un développeur web fullstack basé à Paris. Du front-end au back-end, je jongle avec les langages et les frameworks pour donner vie à des sites web et des applications qui sortent de l'ordinaire. J'adore explorer de nouvelles idées et repousser les limites de la technologie pour offrir à mes clients des solutions sur mesure et ultra performantes. Bienvenue dans mon univers numérique !</p>
    </div>
</div>
