@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
    height: 100vh; 
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.snap-section {
    height: auto;
    scroll-snap-align: start;
}
